@page
@model E_commerce_c_charp.Pages_Supplier.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.CulturalOrigin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.CulturalOrigin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.ContactPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.ContactPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.ContactEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.ContactEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Website)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Website)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Facebook)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Facebook)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.Instagram)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Instagram)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Supplier.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
